<div class="profile-about2">
  <div class="profile-content">
    <div class="profile-img">
      <div
        style="
          background-image: url(https://i.pinimg.com/736x/42/6e/f1/426ef1322c4685acdb1134f2ee9ce288.jpg);
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          display: block;
        "
      ></div>
      <!-- <span class="stats">
        <img
          src="assets/images/icon/verified.png"
          class="img-fluid"
          alt="verified"
          style="width: 30px !important"
        />
      </span> -->
    </div>
    <div class="card-title">
      <h3>Jimmy Obre</h3>
      <h5>(Nickname)</h5>
      <div class="settings">
        <div class="setting-btn">
          <a href="javascript:void(0)" (click)="editProfile()">
            <app-feather-icon
              [class]="'icon icon-dark stroke-width-3 iw-11 ih-11'"
              [icons]="'edit-2'"
            ></app-feather-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="about-content">
      <ul>
        <li>
          <div class="icon">
            <app-feather-icon
              [class]="'iw-18 ih-18'"
              [icons]="'user'"
            ></app-feather-icon>
          </div>
          <div class="details">
            <h5>Nombres</h5>
            <h6>Jimmy</h6>
          </div>
        </li>
        <li>
          <div class="icon">
            <app-feather-icon
              [class]="'iw-18 ih-18'"
              [icons]="'users'"
            ></app-feather-icon>
          </div>
          <div class="details">
            <h5>Apellidos</h5>
            <h6>Obregón Sánchez</h6>
          </div>
        </li>
        <li>
          <div class="icon">
            <app-feather-icon
              [class]="'iw-18 ih-18'"
              [icons]="'credit-card'"
            ></app-feather-icon>
          </div>
          <div class="details">
            <h5>DNI</h5>
            <h6>72029406</h6>
          </div>
        </li>
        <li>
          <div class="icon">
            <app-feather-icon
              [class]="'iw-18 ih-18'"
              [icons]="'mail'"
            ></app-feather-icon>
          </div>
          <div class="details">
            <h5>Correo Electrónico</h5>
            <h6>
              {{ "jimmyobregonsanchez@gmail.com" }}
            </h6>
          </div>
        </li>
        <li>
          <div class="icon">
            <app-feather-icon
              [class]="'iw-18 ih-18'"
              [icons]="'smartphone'"
            ></app-feather-icon>
          </div>
          <div class="details">
            <h5>Teléfono</h5>
            <h6>+51 957433456</h6>
          </div>
        </li>
        <li>
          <div class="icon">
            <app-feather-icon
              [class]="'iw-18 ih-18'"
              [icons]="'info'"
            ></app-feather-icon>
          </div>
          <div class="details">
            <h5>Fecha de Nacimiento</h5>
            <h6>04/13/2027</h6>
          </div>
        </li>
        <li>
          <div class="icon">
            <app-feather-icon
              [class]="'iw-18 ih-18'"
              [icons]="'user-plus'"
            ></app-feather-icon>
          </div>
          <div class="details">
            <h5>Género</h5>
            <h6>Masculino</h6>
          </div>
        </li>
        <div style="margin-top: 20px">
          <a href="" class="btn btn-solid">Activar Cuenta</a>
        </div>
      </ul>
    </div>
  </div>
</div>
