<div class="container-fluid custom-padding cabecera">
  <div class="header-section">
    <div class="header-left">
      <app-brand-logo [currentUrl]="currentUrl"></app-brand-logo>
    </div>
    <!-- <div class="header-right">
      <ul class="option-list">
        <li class="profile-btn btn-group">
          <a href="" class="btn btn-white">Vincular Cuenta</a>
        </li>
        <li class="header-btn custom-dropdown profile-btn btn-group">
          <app-user-profile></app-user-profile>
        </li>
      </ul>
    </div> -->
  </div>
</div>
