.setting-btn2 {
  width: 180px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
}
.lista-mensajes {
  width: 100%;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  margin-top: 20px;
}
