<div class="profile-about">
  <div class="card-title">
    <h3>En Memoria</h3>
    <h4
      style="
        margin-left: 4px;
        margin-top: 3px;
        font-family: 'Montserrat', sans-serif;
      "
    >
      de Edmundo
    </h4>
  </div>
  <div class="about-content">
    <div class="details">
      <h4 style="margin-top: 40px; color: #082508">
        <span>Querido Edmundo...</span>
      </h4>
      <br />
      <p
        style="
          font-family: 'Montserrat', sans-serif;
          margin-top: 40px;
          color: #082508;
        "
      >
        "El Abuelo Edmundo era el más querido , siempre puso la felicidad de la
        familia por encima de todo."
        <br />
        Todos sus hijos y nietos los recordaremos con mucho amor y con la
        alegría que los caracterizaba".
      </p>
    </div>
  </div>
  <div style="justify-content: center; display: flex; padding-bottom: 20px">
    <img
      src="../../../../../assets/logos_eterna_horizontal/logo_verde.svg"
      alt=""
      width="200px"
      height="120px"
    />
  </div>
</div>
