<div class="post-title lista-mensajes">
  <div class="profile">
    <div class="media">
      @if(postData) { @if(postData.profileImage != null){
      <a
        class="popover-cls user-img"
        placement="top"
        [ngStyle]="{ 'background-image': 'url(' + postData.profileImage + ')' }"
        style="
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          display: block;
        "
      >
        <img
          [src]="postData.profileImage"
          class="img-fluid bg-img"
          alt="user"
          style="display: none"
        /> </a
      >}
      <div
        [ngClass]="{
          'media-body': true,
          'custom-class': postData.profileImage
        }"
        [ngStyle]="
          postData.profileImage
            ? { width: '400px' }
            : { width: '400px', 'margin-left': '-155px' }
        "
      >
        <a href="javascript:void(0)">
          <h5>
            {{ "PARA:" + " " + "Edmundo López" }}
          </h5>
          <h5>
            {{
              "DE:" +
                " " +
                postData.userName +
                " " +
                "(" +
                postData.parentezco +
                ")"
            }}
          </h5>
        </a>
        <br />
        <h5>{{ "'" + postData.condolencia + "'" }}</h5>
        <br />
        <h6>{{ "Fecha:" + " " + postData.fecha }}</h6>
      </div>
      }
    </div>
  </div>
  <div
    class="setting-btn2 ms-auto setting-dropdown no-bg"
    (clickOutside)="outSideClose()"
  >
    <div class="buttons">
      <a href="javascript:void(0)" class="btn btn-white">Dejar de Publicar</a>
    </div>
  </div>
</div>
