<app-loading></app-loading>
<section class="login-section">
  <div class="header-section">
    <div class="logo-sec">
      <div class="contenedor-logo">
        <img
          src="../../../../assets/logos_eterna_horizontal/logo_verde.svg"
          alt="logo"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-5 d-none d-lg-block">
        <!-- <div class="login-welcome">
          <div>
            <img
              src="../../../../assets/logos_eterna_horizontal/logo_verde.svg"
              class="img-fluid"
              alt="charcter"
              style="margin-top: -105px; width: 350px"
            />
          </div>
        </div> -->
      </div>
      <div class="col-xl-6 col-lg-7 col-md-10 col-12 m-auto">
        <div class="login-form">
          <div>
            <div class="login-title">
              <h2>Iniciar Sesión</h2>
            </div>
            <div class="login-discription">
              <h3>Bienvenido</h3>
              <h4>
                Eterna te la bienvenida, por favor ingresa tu cuenta para
                iniciar sesión.
              </h4>
            </div>
            <div class="form-sec">
              <div>
                <form class="theme-form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Correo Electrónico</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      placeholder="Ingresa tu Correo"
                    />
                    <app-feather-icon
                      [icons]="'user'"
                      [class]="'input-icon iw-20 ih-20'"
                    ></app-feather-icon>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="Ingresa tu Contraseña"
                      formControlName="password"
                      [type]="show ? 'text' : 'password'"
                    />
                    @if(show){
                    <app-feather-icon
                      [icons]="'eye'"
                      [class]="'input-icon iw-20 ih-20'"
                      (click)="show = !show"
                    ></app-feather-icon>
                    } @else {
                    <app-feather-icon
                      [icons]="'eye-off'"
                      [class]="'input-icon iw-20 ih-20'"
                      (click)="show = !show"
                    ></app-feather-icon>
                    }
                  </div>
                  <div class="bottom-sec">
                    <div class="form-check checkbox_animated">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                      />
                      <label class="form-check-label" for="exampleCheck1"
                        >Recordar contraseña</label
                      >
                    </div>
                    <a
                      [routerLink]="['../password-support']"
                      href="javascript:void(0)"
                      class="ms-auto forget-password"
                      >olvidaste tu Contraseña?</a
                    >
                  </div>
                  <div class="btn-section">
                    <a
                      [routerLink]="['../../profile/about-after']"
                      class="btn btn-solid btn-lg"
                      >Iniciar</a
                    >
                    <a
                      [routerLink]="['../register']"
                      class="btn btn-white btn-lg ms-auto"
                      >Registrarme</a
                    >
                  </div>
                </form>
                <div class="connect-with">
                  <h6><span>Iniciar con</span></h6>
                  <ul class="social-links">
                    <li class="google">
                      <a href="javascript:void(0)">
                        <img
                          src="../../../../assets/logos_eterna_horizontal/vector-google.png"
                          alt=""
                          width="25"
                          height="25"
                        />
                      </a>
                    </li>
                    <li class="facebook">
                      <a href="javascript:void(0)">
                        <app-svg-icon [icons]="'facebook'"></app-svg-icon>
                      </a>
                    </li>
                    <li class="twitter">
                      <a href="javascript:void(0)">
                        <img
                          src="../../../../assets/svg/apple-logo-svgrepo-com (1).svg"
                          alt=""
                          width="25"
                          height="25"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
