<app-loading></app-loading>
<section class="login2-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-10 col-12 m-auto">
        <div class="login-form">
          <div>
            <div class="login2-title">
              <img
                src="../../../../assets/logos_eterna_horizontal/logo_verde.svg"
                class="img-fluid"
                alt="charcter"
                style="width: 250px; margin-bottom: 10px"
              />
            </div>
            <div class="login-title">
              <h2>Recuperación de Contraseña</h2>
            </div>
            <div class="login-discription">
              <h4>
                Eterna te la bienvenida, por favor ingresa tu correo en donde
                llegara tu código de verificación.
              </h4>
            </div>
            <div class="form-sec">
              <div>
                <form class="theme-form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Correo Electrónico</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      placeholder="Ingresa tu Correo"
                    />
                    <app-feather-icon
                      [icons]="'mail'"
                      [class]="'input-icon iw-20 ih-20'"
                    ></app-feather-icon>
                  </div>
                  <a class="btn btn-solid" style="margin-bottom: 10px"
                    >Enviar Código</a
                  >
                  <div class="form-group">
                    <label for="exampleInputPassword1"
                      >Ingresa el codigo de verificación</label
                    >
                    <input
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="Ingresa tu Código de Verificación"
                      formControlName="password"
                      [type]="show ? 'text' : 'password'"
                    />
                    @if(show){
                    <app-feather-icon
                      [icons]="'eye'"
                      [class]="'input-icon iw-20 ih-20'"
                      (click)="show = !show"
                    ></app-feather-icon>
                    } @else {
                    <app-feather-icon
                      [icons]="'eye-off'"
                      [class]="'input-icon iw-20 ih-20'"
                      (click)="show = !show"
                    ></app-feather-icon>
                    }
                  </div>
                  <div class="btn-section">
                    <a
                      [routerLink]="['/others/register']"
                      class="btn btn-white ms-auto"
                      >Continuar</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
