<div class="container-fluid section-t-space px-0">
  <div class="page-content">
    <div class="content-center w-100">
      <div class="gallery-page-section">
        <div class="card-title">
          <h3>Principal</h3>
        </div>
        <div class="row contenedor-primero">
          <div class="col contenedores">
            <div class="tittle-contenedor">
              <h4
                style="
                  font-family: 'Montserrat', sans-serif;
                  color: rgb(2, 50, 23);
                  font-weight: 600;
                "
              >
                Últimas Notificaciones
              </h4>
            </div>
            <div>
              <ul style="margin: 10px">
                <li class="lista-inicio">
                  <div class="imagen-lista">
                    <app-feather-icon
                      [icons]="'message-square'"
                      [class]="'icon icon-theme stroke-width-3 iw-25 ih-25'"
                    ></app-feather-icon>
                  </div>
                  <div class="contenido-lista">
                    <h5 style="font-family: 'Montserrat', sans-serif">
                      Nuevo mensaje de
                      <span class="spansito">Pedro Pablo</span> para
                      <span class="spansito">Edmundo López</span>
                    </h5>
                    <h6
                      style="
                        margin-top: 5px;
                        font-family: 'Montserrat', sans-serif;
                      "
                    >
                      hace 2 horas
                    </h6>
                  </div>
                </li>
                <li class="lista-inicio2">
                  <div class="imagen-lista">
                    <app-feather-icon
                      [icons]="'calendar'"
                      [class]="'icon icon-theme stroke-width-3 iw-25 ih-25'"
                    ></app-feather-icon>
                  </div>
                  <div class="contenido-lista">
                    <h5 style="font-family: 'Montserrat', sans-serif">
                      Recodatorio: en pocos dás es la misa de honra de
                      <span class="spansito">Edmundo López</span>
                    </h5>
                    <h6
                      style="
                        margin-top: 5px;
                        font-family: 'Montserrat', sans-serif;
                      "
                    >
                      hace 2 horas
                    </h6>
                  </div>
                </li>
                <li class="lista-inicio">
                  <div class="imagen-lista">
                    <app-feather-icon
                      [icons]="'bell'"
                      [class]="'icon icon-theme stroke-width-3 iw-25 ih-25'"
                    ></app-feather-icon>
                  </div>
                  <div class="contenido-lista">
                    <h5 style="font-family: 'Montserrat', sans-serif">
                      Se acaba de registrar una nueva visita de
                      <span class="spansito">Carlos del Águila</span> a la tumba
                      de <span class="spansito">Edmundo López</span>
                    </h5>
                    <h6
                      style="
                        margin-top: 5px;
                        font-family: 'Montserrat', sans-serif;
                      "
                    >
                      hace 2 horas
                    </h6>
                  </div>
                </li>
                <li class="lista-inicio">
                  <div class="imagen-lista">
                    <app-feather-icon
                      [icons]="'message-square'"
                      [class]="'icon icon-theme stroke-width-3 iw-25 ih-25'"
                    ></app-feather-icon>
                  </div>
                  <div class="contenido-lista">
                    <h5 style="font-family: 'Montserrat', sans-serif">
                      Nuevo mensaje de
                      <span class="spansito">Cinthya Gomez</span> para
                      <span class="spansito">Edmundo López</span>
                    </h5>
                    <h6
                      style="
                        margin-top: 5px;
                        font-family: 'Montserrat', sans-serif;
                      "
                    >
                      hace 2 horas
                    </h6>
                  </div>
                </li>
                <li class="lista-inicio">
                  <div class="imagen-lista">
                    <app-feather-icon
                      [icons]="'bell'"
                      [class]="'icon icon-theme stroke-width-3 iw-25 ih-25'"
                    ></app-feather-icon>
                  </div>
                  <div class="contenido-lista">
                    <h5 style="font-family: 'Montserrat', sans-serif">
                      A <span class="spansito">Mayra Ramírez</span> le gusta el
                      mural de
                      <span class="spansito">Jimmy Obre</span>
                    </h5>
                    <h6
                      style="
                        margin-top: 5px;
                        font-family: 'Montserrat', sans-serif;
                      "
                    >
                      hace 2 horas
                    </h6>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col contenedores" style="height: fit-content">
            <div class="tittle-contenedor">
              <h4
                style="
                  font-family: 'Montserrat', sans-serif;
                  color: rgb(2, 50, 23);
                  font-weight: 600;
                "
              >
                Mensajes Recientes
              </h4>
            </div>
            <div>
              <ul style="margin-top: 10px">
                <li>
                  <div
                    class="lista-inicio2"
                    style="justify-content: space-between; margin-bottom: 10px"
                  >
                    <div style="justify-content: flex-start">
                      <h5
                        style="
                          font-family: 'Montserrat', sans-serif;
                          font-weight: 600;
                        "
                      >
                        De:
                        <span style="font-weight: 300">{{
                          " " + "Antonio Delgado" + " " + "(primo)"
                        }}</span>
                      </h5>
                    </div>
                    <div style="justify-content: flex-end">
                      <h6 style="font-family: 'Montserrat', sans-serif">
                        12/12/2024 | 12.00 am
                      </h6>
                    </div>
                  </div>
                  <div style="margin-bottom: 10px">
                    <h5
                      style="
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                      "
                    >
                      Para:
                      <span style="font-weight: 300">{{
                        " " + "Edmundo López"
                      }}</span>
                    </h5>
                  </div>
                  <div>
                    <h6 style="font-family: 'Montserrat', sans-serif">
                      "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Distinctio mollitia est quod, ex at facere repellat.
                      Quasi, quibusdam alias animi, enim inventore sit eveniet
                      dicta eligendi hic officia laboriosam aspernatur?"
                    </h6>
                  </div>
                </li>
                <li>
                  <div
                    class="lista-inicio2"
                    style="justify-content: space-between; margin-bottom: 10px"
                  >
                    <div style="justify-content: flex-start">
                      <h5
                        style="
                          font-family: 'Montserrat', sans-serif;
                          font-weight: 600;
                        "
                      >
                        De:
                        <span style="font-weight: 300">{{
                          " " + "Javier Acuña" + " " + "(Hermano)"
                        }}</span>
                      </h5>
                    </div>
                    <div style="justify-content: flex-end">
                      <h6 style="font-family: 'Montserrat', sans-serif">
                        12/12/2024 | 12.00 am
                      </h6>
                    </div>
                  </div>
                  <div style="margin-bottom: 10px">
                    <h5
                      style="
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                      "
                    >
                      Para:
                      <span style="font-weight: 300">{{
                        " " + "Edmundo López"
                      }}</span>
                    </h5>
                  </div>
                  <div>
                    <h6 style="font-family: 'Montserrat', sans-serif">
                      "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Distinctio mollitia est quod, ex at facere repellat.
                      Quasi, quibusdam alias animi, enim inventore sit eveniet
                      dicta eligendi hic officia laboriosam aspernatur?"
                    </h6>
                  </div>
                </li>
                <li>
                  <div
                    class="lista-inicio2"
                    style="justify-content: space-between; margin-bottom: 10px"
                  >
                    <div style="justify-content: flex-start">
                      <h5
                        style="
                          font-family: 'Montserrat', sans-serif;
                          font-weight: 600;
                        "
                      >
                        De:
                        <span style="font-weight: 300">{{
                          " " + "Carlos Sanchez" + " " + "(Hijo)"
                        }}</span>
                      </h5>
                    </div>
                    <div style="justify-content: flex-end">
                      <h6 style="font-family: 'Montserrat', sans-serif">
                        12/12/2024 | 12.00 am
                      </h6>
                    </div>
                  </div>
                  <div style="margin-bottom: 10px">
                    <h5
                      style="
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                      "
                    >
                      Para:
                      <span style="font-weight: 300">{{
                        " " + "Edmundo López"
                      }}</span>
                    </h5>
                  </div>
                  <div>
                    <h6 style="font-family: 'Montserrat', sans-serif">
                      "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Distinctio mollitia est quod, ex at facere repellat.
                      Quasi, quibusdam alias animi, enim inventore sit eveniet
                      dicta eligendi hic officia laboriosam aspernatur?"
                    </h6>
                  </div>
                </li>
                <div
                  style="
                    justify-content: space-between;
                    display: flex;
                    margin-bottom: 10px;
                  "
                >
                  <div style="justify-content: flex-start"></div>
                  <div style="justify-content: flex-end">
                    <a href="" class="btn btn-solid"> ver todos</a>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
